@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-premium-dark text-premium-text font-sans;
  }
  h1, h2, h3, h4, .font-serif {
    font-family: 'Playfair Display', serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0c;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
